/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    background-color: #b45309;
    width: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.sidebar-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.empresa-nombre {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    color: #b45309;
    background-color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #f9fafb;
}

/* Calendar Content Styles */
.calendar-content {
    flex: 1;
    padding: 2rem;
    min-height: 100vh;
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.calendar-navigation a {
    text-decoration: none;
    color: #b45309;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #b45309;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.calendar-navigation a:hover {
    background-color: #b45309;
    color: white;
}

.month-title {
    color: #b45309;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.weekday {
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.saturday {
    color: #2563eb;
}

.sunday {
    color: #dc2626;
}

.day-cell {
    border: 1px solid #a1a2a5;
    height: 125px;
    padding: 0.25rem;
}

.day-cell:hover {
    background-color: #e2e2e2;
}

.day-number {
    font-size: 0.8rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
    }
    
    .day-cell {
        height: 60px;
    }
}


