{% extends 'nuevo_evento/nuevo_evento_base.html' %}

{% block title %}Agendar Cita{% endblock %}

{% block content %}
<div class="calendar-content">
    <h1 class="text-primary">Agendar Cita</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-3">
            <a href="{% url 'crear_servicio' %}" class="btn btn-info">Crear Servicio</a>
            <a href="{% url 'crear_cliente' %}" class="btn btn-info">Crear Cliente</a>
        </div>
        <button type="submit" class="btn btn-success mt-3">Confirmar Cita</button>
    </form>
</div>
{% endblock %}

